<footer>
    <div class="footer-list">
        <span class="footer-list-title">Product</span>
        <ul>
            <li>Benefits</li>
            <li>Features</li>
            <li>Pricing</li>
            <li>Security</li>
            <li>SimScale for Academics</li>
        </ul>
    </div>
    <div class="footer-list">
        <span class="footer-list-title">Services</span>
        <ul>
            <li>Kick-off Projects</li>
            <li>Consulting</li>
            <li>Support</li>
            <li>Webinars</li>
        </ul>
    </div>
    <div class="footer-list">
        <span class="footer-list-title">Resources</span>
        <ul>
            <li>Blog</li>
            <li>Documentation</li>
            <li>Public Project Library</li>
            <li>Open Source</li>
            <li>Videos</li>
            <li>Workshops</li>
            <li>Training</li>
        </ul>
    </div>  
    <div class="footer-list">
        <span class="footer-list-title">Company</span>
        <ul>
            <li>Contact</li>
            <li>About Us</li>
            <li>Jobs</li>
            <li>Press</li>
            <li>Terms &amp; Conditions</li>
            <li>Data Privacy</li>
            <li>Imprint</li>
        </ul>
    </div>
    <div class="social">
        <span class="newsletter-text">Stay informed about SimScale products and sign up for out newsletter.</span>
        <div class="newsletter-field">
            <input type="text" placeholder="Your Email Address" />
            <button class="sign-up">Sign Up</button>
        </div>
        <span class="social-text">Get social with SimScale.</span>
        <div class="social-icons"></div>
        <div class="stars"></div>
    </div>
</footer>