<div class="project-item">
    <img class="project-thumbnail" src="{{resultThumbnail}}">
    <div class="project-info">
        <img class="user-avatar" src="../../assets/avatar.jpeg">
        <span class="project-name">{{project.projectName}}</span>
        <span class="owner-name">by {{project.ownerName}}</span><br>
        <span>{{project.numberOfGeometries}} CAD Models&nbsp;/&nbsp;{{project.numberOfMeshes}} Meshes&nbsp;/&nbsp;{{project.numberOfSimulations}} Simulations</span>
    </div>
    <hr>
    <div class="project-additional-info">
        <span class="changed">{{project.lastModificationDate}}</span>
        <span>{{project.numberOfViews}}/{{project.numberOfLikes}}/{{project.numberOfCopies}}</span>
    </div>
</div>


